aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
aiosqlite==0.22.1
async-timeout==5.0.1
attrs==25.4.0
blinker==1.9.0
cachetools==7.0.1
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
discord.py==2.6.4
frozenlist==1.8.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
multidict==6.7.1
packaging==26.0
propcache==0.4.1
pycryptodomex==3.23.0
python-a2s==1.4.1
python-dotenv==1.2.1
pytz==2025.2
requests==2.32.5
six==1.17.0
tabulate==0.9.0
typing_extensions==4.15.0
urllib3==2.6.3
vdf==3.4
Werkzeug==3.1.5
yarl==1.22.0
